.melody-list {
  list-style-type: none;
  color: aliceblue;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  
}

.melody-list-item {
  padding: 10px;
  border: solid aliceblue 3px;
  margin: 10px;
  text-align: left;
}

.delete-btn {
  float: right;
  background-color: #b97acf;
  font-size: inherit;
  font-weight: bold;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20%;
  border: solid black 1px;
  margin: 20px;
}