h1{
  color: #74226c;
}

.key-select{
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.key-btns {
  height: 3em;
  width: 4em;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: #FFB140;
  color: black
}

.tonic {
  height: 3em;
  width: 5em;
  font-size: inherit;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: solid black 1px;
  background-color: #36F1CD;
}

.tonic:active {
  background-color: red;
}

.selected {
  color: #F19A3E!;
}