h1{
  color: #613F75;
}

.key-select{
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.key-btns {
  height: 3em;
  width: 4em;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  border: solid black 2px;
  background-color: #ffaf40;
  color: black
}


@media screen and (max-width: 808px) {
  .key-select {
    width: 50%;
  } 
}

.tonic {
  height: 3em;
  width: 5em;
  color: white;
  font-size: inherit;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  background-color: #613F75;
  /* box-shadow: 3px 3px 2px .5px black */
  border: solid black 2px;
}


.selected {
  color: #F19A3E!;
}