.key-select{
  padding: 20px;
}

.key {
  height: 4em;
  width: 4em;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(105, 168, 42) ;
  color: black
}

.tonic {
  height: 3em;
  width: 5em;
  padding: 5px;
  margin: 5px;
  border-radius: 40%;
  background-color: rgb(85, 170, 0);
}

.nav {
  background-color: #9A7BBE;
  height: 3em;
  width: 4em;
  border-radius: 20%;
  margin: 20px;
}