.prog-select {
  padding: 20px
}
.prog-btns {
  height: 4em;
  width:auto;
  font-size: inherit;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 45%;
  border: solid black 1px;
  background-color: #36F1CD;
  color: black
}
