
body {
  min-width: fit-content;
  background-color: #D4C2FC;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

button {
  background-color: #13C4A3;
  font-size: inherit;
  font-weight: bold;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20%;
  border: solid black 1px;
  margin: 20px;
}