/* 
background: D3C0D2 thistle
text: #74226c midnight  
menu btns:  52aa5e med sea green
key/prog btns: F7B32B honey yellow

runners up:
    FFB140 yellow orange
*/



body {
  min-width: fit-content;
  background-color:#D3C0D2;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

button {
  background-color: #13C4A3;
  font-size: inherit;
  font-weight: bold;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20%;
  border: solid black 1px;
  margin: 20px;
}