/* 
background: D3C0D2 thistle
text: 74226c midnight  
menu btns:  13C4A3 mountain meadow
key/prog btns: F7B32B honey yellow


****USE THESE COLORS******
D3C0D2 thistle
74226c midnight
007991 teal blue
13C4A3 mountain meadow
613F75 cyber grape
F7B32B honey yellow

*/



body {
  min-width: fit-content;
  background-color:#D3C0D2;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

button {
  background-color: #007991;
  /* color: white; */
  font-size: inherit;
  font-weight: bold;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20%;
  margin: 20px;
}