 a {
  text-decoration: none;
}

.settings-icon {
  float: right;
}

h1 {
  color: #69A82A
}

.melodies-button {
  background-color: #9A7BBE;
  font-size: inherit;
  font-weight: bold;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20%;
  border: solid black 1px;
  margin: 20px;
}

