.nav {
  height: 6em;
  width: 7em;
  border-radius: 20%;
  margin: 20px;
}

.controls {
  font-size: 30px;
  border: solid 2px;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

/* .ctrl-btns {
  font-size: 20px;
  margin: 4px;
  height: 2em;
  width: auto;
  border-radius: 10%;
  background-color: rgb(185, 122, 207);
} */

.chord-container {
  /* border: solid 3px black; */
  height: auto;
  width: 50%;
  margin: 2em;
  padding: 2em; 
  margin-left: auto;
  margin-right: auto;
}

.chordlist {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chord-btn{
  font-size: inherit;
  font-weight: bold;
  height: 4em;
  width: 4em;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  border: solid black 1px;
  background-color: #36F1CD;
  color: black
}
